@font-face {
  font-family: 'Press Start 2P';
  src: url('/fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('ttf'),
    url('/fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VT323';
  src: url('/fonts/VT323/VT323-Regular.ttf') format('ttf'),
    url('/fonts/VT323/VT323-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/Orbitron/Orbitron-VariableFont_wght.ttf') format('ttf'),
    url('/fonts/Orbitron/Orbitron-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.title {
  font-family: 'Press Start 2P', cursive;
  word-spacing: -5px;
}

.menu {
  font-family: 'Orbitron', sans-serif;
}

.hud {
  /* font-family: 'VT323', monospace; */
}
