@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./bg.png');
  background-size: cover;
  user-select: none;
}

.glow-text {
  color: white;
  text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #00aaff, 0 0 8px #00aaff,
    0 0 10px #00aaff,
    0 0 12px #00aaff,
    0 0 14px #00aaff;
}

.glow-text-2 {
  color: white;
  text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px white
}

.space-1-bg {
  background-image: url('./bg.png');
  background-size: cover;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}

@keyframes grow-in {
  0% {
    scale: 0.8;
  }

  100% {
    scale: 1;
  }
}

.grow-in {
  animation: grow-in 1s ease-in-out;
  overflow: hidden;
}

.scroll {
  scrollbar-width: thin;
  scrollbar-color: #00aaff #1a1a1a;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 4px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #00aaff;
  border-radius: 4px;
  border: 2px solid #1a1a1a;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #0088cc;
}